<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="stylesheets/admin_dash.css">
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Work+Sans&display=swap" rel="stylesheet">
    <title>Document</title>
    <style>
        * {
            margin: 0px;
            padding: 0px;
        }

        .nav {
            position: relative;
            min-height: 50px;
            margin-bottom: 20px;
            border: 1px solid transparent;
            border-radius: 0px;
            background-color: #222;
            border-color: #080808;
        }


        ul {
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #333;
            ;
        }

        li {
            font-size: 20px;
            font-family: 'Work Sans', sans-serif;
            padding: 2px 8px;
        }

        li a {
            display: inline-block;
            text-align: center;
            text-decoration: none;
            margin: 4px;
            padding: 0px 15px;
            color: white;
        }

        li a:hover {
            display: inline-block;
            text-align: center;
            text-decoration: none;
            margin: 4px;
            padding: 0px 15px;
            color: gray;
        }
        .nav-text{
            display: inline-block;
            text-align: center; 
            font-size: 25px;      
        }

        .nav-text1 {
            display: inline-block;
            background-color: #111;
            text-align: center;
            font-size: 25px;
        }

        .nav-text2 {
            text-align: center;
            float: right;
            font-size: 25px;
            padding-top: 3px;
        }

        .footer {
            background-color: black;
            font-size: 35px;
            width: 100%;
            color: black;
            text-align: center;
            bottom: 0;
            position: fixed;
        }
        .card{
            display: inline-block;
            width:30%;
            font-size: 25px;
            margin:7px;
            margin-top: 100px;
            padding: 50px 10px;
            background-color: #080808;
            color:white;
        }
        a.link :hover{
            color:gray;
            font-size: 30px;
        }
    </style>
</head>

<body>
    <nav>
        <ul>
            <li class="nav-text1"><a href="/admin/admin_dash">ADMIN PANEL</a></li>
            <li class="nav-text"><a href="/admin/categories">View Categories</a></li>
            <li class="nav-text"><a href="/admin/products">View Products</a></li>
            <li class="nav-text2"><a href="/admin/logout">Logout</a></li>
        </ul>
    </nav>
    <center>
    <a href="/admin/addcategory" class="link"><div class="card">Click here to add category</div></a>
    <a href="/admin/addproduct"class="link"><div class= "card">Click here to add product</div></a>
    </center>
    <div class="footer">madewithlove</div>
</body>
<script src="https://kit.fontawesome.com/a076d05399.js" crossorigin="anonymous"></script>
<script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>

</html>